<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.CAMPS.camps">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true">
       <!-- <receiver android:name=".Widget.TestWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/test_widget_info" />
        </receiver>-
        <receiver android:name=".Widget.TimeTableWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCwNrkDKAXkLxpFM36nAvLU4YgOUT3UO_Q"/>

        <service
            android:name=".AlarmService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.example.ForStudent.ALARM_START" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoadingMain"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:theme="@style/SplashTheme"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".EditActivity" />
    </application>

</manifest>